<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677389894123-e062sh9090bqlh90pbu1dbqbetj8bfju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677389894123-e062sh9090bqlh90pbu1dbqbetj8bfju</string>
	<key>API_KEY</key>
	<string>AIzaSyBn0eu41AfdB1D4BgJuFgOIQDpkXCuEhVY</string>
	<key>GCM_SENDER_ID</key>
	<string>677389894123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.dogwalking</string>
	<key>PROJECT_ID</key>
	<string>dog-walking-625cd</string>
	<key>STORAGE_BUCKET</key>
	<string>dog-walking-625cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677389894123:ios:ed616514b8af0d7a1c59ae</string>
</dict>
</plist>